*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}

h1{
    font-weight: normal;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.shape{
    margin: 10px 10px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#circle{
    border-radius: 50%;
}

#circle:hover{
    background-color: green;
}
#diamond{
    width: 140px;
    height: 140px;
    translate: 30px;
    rotate: 45deg;
    margin-top: 50px;
}

#diamond:hover{
    background-color: blue;
}

#diamond h1{

    rotate: -45deg;
}

#square:hover{
    background-color: red;
}